#callToAction {
    div {
        //background
        background-image: url("../images/pexels-skitterphoto-1105325-edited.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        //content
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 180px $sidePadding;
        color: $light;
    }
}