#callToAction {
    div {
        //background
        background-image: url("https://western-hills-data-space.nyc3.cdn.digitaloceanspaces.com/assets/images/propaganda/hero/callToActionEdited.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        //content
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 180px $sidePadding;
        color: $light;
    }
}