.contact {
    background-color: $dark;
    color: $light;
    padding: 100px $sidePadding;

    .userContact {
        display: grid;
        grid-template-columns: 2;
        gap: 10px;
        
        input {
            grid-column: span 2;
        }
        textarea {
            grid-column: span 2;
        }
    }
}
@media (min-width: 768px) {
    .contact {
        .userContact {
            input {
                grid-column: span 1;
            }
        }
    }
}
@media (min-width: 1200px) {
    .contact {
        padding: 100px 150px;
    }
}