#condimentHero {
    background-color: $light;
    color: $dark;

    div {
        position: relative;
        text-align: center;
        z-index: 1;
        padding: 200px 0;
    }

    img {
        width: 400px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%);
        z-index: -100;
        opacity: .9;
    }
}