#condimentHero {
    background-color: $light;
    color: $dark;

    div {
        position: relative;
        text-align: center;
        z-index: 1;
        padding: 200px 0;
    }

    img {
        width: 80%;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%);
        z-index: -100;
        opacity: .8;
    }
}

@media (min-width: 760px) {
    #condimentHero {
        img {
            top: 0;
            width: 40%;
        }
    }
}