#condimentHero {
    background-color: $light;
    background-image: url("https://western-hills-data-space.nyc3.cdn.digitaloceanspaces.com/assets/images/propaganda/hero/pepperingEdited.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    div {
        position: relative;
        text-align: center;
        z-index: 1;
    }
}

@media (min-width: 760px) {
    #condimentHero {
        background-image: url("https://western-hills-data-space.nyc3.cdn.digitaloceanspaces.com/assets/images/propaganda/hero/meatMarinadeEdited.jpg");
    }
}