body {
    margin: 0;
    font-family: system-ui;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", system-ui;
    font-weight: 400;
    margin: 0px;
}
h1 {
    font-size: $title;

    span {
        color: $primary;
    }
}
h2 {
    font-size: $title-sm;
}
p {
    font-family: $content;
    margin: 5px 0px;
}
p.subtitle {
    font-size: $subtitle;

    span {
        color: $primary;
    }
}
button {
    transition: all ease-in-out .2s;
    background-color: $primary;
    color: $light;
    border: none;
    border-radius: 15px;
    font-family: $content;
    font-size: $button;
    padding: 7px 12px;
}
button:hover {
    cursor: pointer;
    background-color: $accent;
    border-radius: 5px;
    color: $dark;
}
.formControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
input, textarea, select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background: transparent;
    border: 2px solid $light;
    border-radius: 8px;
    font-family: $content;
    font-size: $input;
    outline: none;
    color: $light;
}
textarea {
    height: 300px;
}