body {
    margin: 0;
    font-family: system-ui;
}
.light {
    color: $light;
}
.attention {
    color: $attention;
}
.modal-content {
    font-family: $content;
    color: $light;
}
.error .modal-content {
    background-color: $primary;
}
.success .modal-content {
    background-color: $success;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $titleFont;
    font-weight: 400;
    margin: 0px;
}
h1 {
    font-size: $title;

    span {
        color: $primary;
    }
}
h2 {
    font-size: $title-sm;
}
h1.title {
    font-size: $title-xl;
}
.hero {
    padding: 300px $sidePadding;
}
p {
    font-family: $content;
    margin: 5px 0px;
}
p.subtitle {
    font-size: $subtitle;

    span {
        color: $primary;
    }
}
p.topbar {
    font-size: $content;
    padding: 0px;
    margin: 0px;
}
p.title {
    font-size: $title-sm;
    font-family: $titleFont;
}
p.productSupport {
    font-size: $subtitle;
    font-family: $content;
    padding: 0px;
    margin: 0px;

    span {
        font-size: $title-sm;
        text-decoration: underline;
        text-decoration-color: $primary;
    }

    &.instock {
        color: $success;
    }

    &.outofstock {
        color: $primary;
    }
}
button {
    transition: all ease-in-out .2s;
    background-color: $primary;
    color: $light;
    border: none;
    border-radius: 15px;
    font-family: $content;
    font-size: $button;
    padding: 7px 12px;
}
button:hover {
    cursor: pointer;
    background-color: $accent;
    border-radius: 5px;
    color: $dark;
}
a {
    color: $light;
    transition: all ease-in-out .3s;
}
a:hover {
    color: $accent;
}
.formControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
input, textarea, select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background: transparent;
    border: 2px solid $light;
    border-radius: 8px;
    font-family: $content;
    font-size: $input;
    outline: none;
    color: $light;
}
textarea {
    height: 300px;
}
.errorMessage {
    border-radius: 10px;
    background-color: $primary;
    padding: 10px;
    margin: 10px 0px;
    font-size: $content;
}