#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/fireVertEdited.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-color: $secondary;
    //padding: 225px 0px;
    height: 100lvh;

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $light;
    }
}
@media (min-width: 768px) {
    #hero {
        background-image: url("../images/fireHor.jpg");
        //padding: 400px;
    }
}