#main-hero {
    background-image: url(../pexels-lureofadventure-16739692.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-color: $secondary;
    padding: 170px 0px;

    .main-hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $light;
    }
}

.hero {
    padding: 100px;
}