.imageGridContainer {
    display: grid;
    grid-template-columns: 1;
    grid-gap: 10px;

    .imageGridChild {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
        }
    }
}
@media (min-width: 760px) {
    .imageGridContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}