#navbar {
    position: fixed;
    top: 30px;
    /* background-color: transparent;
    color: $light; */
    backdrop-filter: blur(20px);

    /* .navbar-brand, .nav-link {
        color: $light;
    } */
}