#navbar {
    position: fixed;
    top: 30px;
    color: $light;
    font-family: $content;
    font-weight: 100;
    transition: all ease-in-out .2s;

    .navbar-brand, .nav-link {
        color: $light;
    }

    .navbarControls {
        display: flex;
        flex-direction: row-reverse;
        padding: 0px 20px;
        
        img {
            padding: 0px 10px;
            width: 3.5rem;
        }
        img:hover {
            cursor: pointer;
        }
    }
}