.productListingHero {
    background-image: url("https://western-hills-data-space.nyc3.cdn.digitaloceanspaces.com/assets/images/propaganda/hero/mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 10px;
}