//fonts
$content: "Nunito Sans", system-ui;
$titleFont: "Oswald", system-ui;

//font sizes
$title-xl: 4rem;
$title: 3rem;
$title-sm: 2rem;
$subtitle: 1.4rem;
$footer: .9rem;
$button: 1.5rem;
$input: 1.4rem;

$sidePadding: 20px;